

.timer-transparent {
  text-align: center;
  background: rgba(212, 214, 214, 0.1); /* Light transparent white */
  backdrop-filter: blur(50px); /* Blur the background */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Border for the glass effect */
  color: #fff;
}

.time-gradiant {
  height: 7rem;
  background: -webkit-linear-gradient(#3ba2fd, #70ff5d, #ffc550);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}