.mobile-view {
  display: none;
}
.header-transparent {
  width: 100%;
  text-align: center;
  background: rgba(245, 246, 246, 0.3); /* Light transparent white */
  backdrop-filter: blur(50px); /* Blur the background */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Border for the glass effect */
  color: #fff;
}

@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
}
