.loader-bg-transparent {
    background: rgba(242, 245, 245, 0.1); /* Light transparent white */
    backdrop-filter: blur(70px); /* Blur the background */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Border for the glass effect */
    color: #fff;
  }