@tailwind base;
@tailwind components;
@tailwind utilities;

.responsive-layout-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Customize the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Customize the background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #555555; /* Customize the color of the scrollbar thumb */
  border-radius: 10px; /* Optional: add rounded corners to the scrollbar thumb */
  border: 3px solid #f1f1f1; /* Optional: add padding or a border around the scrollbar thumb */
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000f;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}
